h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 40px;
}

body {
  margin: 0;
}

#app {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
