version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: enigma_backend
    restart: always
    expose:
      - "8000"
    env_file:
      - .env

  frontend:
    build:
      context: ./enigma-frontend
      dockerfile: Dockerfile
    container_name: enigma_frontend
    restart: always
    expose:
      - "80"

  nginx:
    image: nginx:alpine
    container_name: enigma_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend